@font-face {
    font-family: 'Starjedi';
    src: url('Starjedi.ttf')
}

body {
    background: url(images/tatooine.jpg) no-repeat center top;
    background-size: cover;
    color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: table;
    background-color: rgba(0, 0, 0, 0.7);
}

header h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Starjedi',sans-serif;
    margin: 0;
    color: white;
    font-size: 5vh;
}

/* Game Area */

#middle_container {
    height: 80vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

#game-area {
    width: 100%;
    height: 100%;
    display: table;
}

.game_inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card {
    height: 90%;
    width: 12%;
    display: inline-block;
    margin: 20px 1%;
}

.back, .front {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.back img, .front img {
    width: 100%;
    border: 5px solid black;
    border-radius: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vh;
    margin: 0;
}

.game_inner .win-screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.7);
    width: 100%;
    height: 100%;
    margin: 0;
    transition: 2s;
}

.game_inner .win-screen h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #710800;
    text-transform: uppercase;
    font-size: 60px;
}

.game_inner .win-screen .reset {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Stats and Reset */

#stats_container {
    width: 100%;
    height: 10vh;
    display: table;
    background-color: rgba(0, 0, 0, 0.7);
}

.stats_inner {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.games-played, .attempts, .accuracy {
    display: inline;
    padding: 10px 0;
    margin: 5px 10px 5px 0;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);
}

.stats_inner p {
    display: inline;
    color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 14px;
}

a {
    padding: 10px;
    margin: 5px;
    border: 2px solid #fff;
    background-color: rgba(113, 8, 0, 0.7);
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
    text-transform: uppercase;
}

a:hover {
    background-color: #fff;
    color: #710800;
}

/* About Page */

.about-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 50px auto 0;
}

.profile-image {
    background: url(images/me-hike-grandcanyon-circle.png) no-repeat center center;
    background-size: 30%;
    height: 30%;
    margin: 30px auto 20px;
}

.about-wrapper li {
    list-style: none;
    font-size: 2vh;
    font-weight: bold;
}

.about-wrapper ul {
    font-size: 2.2vh;
    padding: 0;
}

.about-wrapper p {
    clear: both;
    font-size: 2vh;
}

.about-wrapper > h2, .about-wrapper > h3, .about-wrapper > p, .about-wrapper > ul {
    text-align: center;
}

.about-wrapper h3 {
    font-size: 2.5vh;
    margin: 30px 0;
}